fieldset {
  all: unset; }

legend {
  margin-bottom: var(--auro-size-md); }

:host([error]) legend {
  color: var(--auro-color-text-error-on-light); }

.errorText {
  color: var(--auro-color-text-error-on-light); }
